Source: xfce4-sntray-plugin
Section: x11
Priority: optional
Maintainer: Konstantin P. <ria.freelander@gmail.com>
Build-Depends: debhelper (>= 9), cmake (>= 2.8.0), libpeas-dev (>= 1.2.0), libgtk-3-dev (>= 3.12.0), vala-panel-dev, xfce4-panel-dev (>= 4.11.2), libxfconf-0-dev
Standards-Version: 3.9.6
Homepage: https://github.com/rilian-la-te/xfce4-sntray-plugin
Vcs-Git: https://github.com/rilian-la-te/xfce4-sntray-plugin.git
Vcs-Browser: https://github.com/rilian-la-te/xfce4-sntray-plugin

Package: xfce4-sntray-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vala-panel-sntray-common (= ${source:Version})
Recommends: sni-qt, libappindicator1, libappindicator3-1
Description: This package provides StatusNotifier plugin for xfce4-panel
 StatusNotifier is new D-Bus standard for system tray.
 It is shared both by Ubuntu Unity and KDE.
 There is several plugins for show StatusNotifiers for different DEs,
 for XFCE it is indicator-application and xfce4-snw-plugin

Package: xfce4-sntray-plugin-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, xfce4-sntray-plugin (= ${binary:Version})
Description: This package provides debug symbols for xfce4-sntray-plugin
 StatusNotifier is new D-Bus standard for system tray.
 It is shared both by Ubuntu Unity and KDE.
 There is several plugins for show StatusNotifiers for different DEs,
 for XFCE it is indicator-application and xfce4-snw-plugin

Package: vala-panel-sntray
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vala-panel-sntray-common (= ${source:Version})
Recommends: sni-qt, libappindicator1, libappindicator3-1
Description: This package provides StatusNotifier plugin for vala-panel
 StatusNotifier is new D-Bus standard for system tray.
 It is shared both by Ubuntu Unity and KDE.
 There is several plugins for show StatusNotifiers for different DEs,
 but for vala-panel only this implementation exists yet.

Package: vala-panel-sntray-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, vala-panel-sntray (= ${binary:Version})
Description: This package provides debug symbols for vala-panel-sntray
 StatusNotifier is new D-Bus standard for system tray.
 It is shared both by Ubuntu Unity and KDE.
 There is several plugins for show StatusNotifiers for different DEs,
 but for vala-panel only this implementation exists yet.

Package: vala-panel-sntray-common
Architecture: all
Depends: ${misc:Depends}
Description: Common files for StatusNotifier plugins
 StatusNotifier is new D-Bus standard for system tray.
 It is shared both by Ubuntu Unity and KDE.
 There is several plugins for show StatusNotifiers for different DEs,
 but for vala-panel only this implementation exists yet.