.-panel-run-dialog
{
	padding: 0;
	outline-color: rgba(255, 255, 255, 0.3);
	outline-style: dashed;
	outline-offset: -3px;
	outline-width: 1px;
	-gtk-outline-radius: 2px;
	margin: 0;
}
.-panel-transparent
{
	background-color: transparent;
	background-image: none;
}
.-panel-run-dialog:backdrop
{
	box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.18);
}
.-panel-run-box
{
	margin: 10px;
	box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.23);
}
.-panel-launch-button
{
	padding: 1px;
	margin: 0px;
}
.-panel-launch-button:hover,
.-panel-launch-button.highlight,
.-panel-launch-button:active:hover,
.-panel-launch-button:selected,
.-panel-launch-button-selected
{
	-gtk-icon-effect: highlight;
}
.-panel-icon-button
{
	padding: 0px;
	margin: 0px;
}
.-panel-icon-button:hover,
.-panel-icon-button.highlight,
.-panel-icon-button:active:hover
{
	-gtk-icon-effect: highlight;
}
.-panel-button
{
	color: inherit;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
